---
layout: default_ai
---

{% for post in site.categories.ai limit:1 %}
<div class="article">
    <div class="myblock">
        <h2 class="post_title ">{{ post.title }}</h2>
        <p style="text-align: center; color: #888888">{{ post.date | date: "%Y年%m月%d日" }}</p>
        {% if site.comments and post.comments %}
            {% if site.disqus != '' %}
            <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p>
            {% elsif site.isso != '' %}
            <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p>
            {% endif %}
        {% endif %}
        <div class="content">
            {{ post.content }}
        </div>
    </div>
</div>
{% endfor %}
