---
layout: default
---

{% for post in paginator.posts %}
<div class="article">
    <div class="myblock">
        <h2 class="post_title borderNeue"><a href="{{ site.baseurl}}{{ post.url }}" style="color:inherit;">{{ post.title }}</a></h2>
        <p style="text-align: center; color: #888888">{{ post.date | date: "%Y-%m-%d" }}</p>
        {% if site.comments and post.comments %}
            {% if site.disqus != '' %}
<!--            <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p>-->
            {% elsif site.isso != '' %}
            <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p>
            {% endif %}
        {% endif %}
        <div class="content">
<!--            {{ post.content }}-->
            {{ post.excerpt }}
            <a  href="{{ site.baseurl}}{{ post.url }}" style="color: slategrey">点击阅读全文 »</a>
<!--            {{ post.content  | | split:'&lt;!&ndash; more &ndash;&gt;' | first }}-->
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">上一页</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">页: {{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">下一页</a>
  {% endif %}
</div>
