{% include header.html %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            {{ content }}
        </div>
        <div class="col-md-3 ">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">年份</h3></div>
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                        <td >2020</td>
                      <td >2019</td>
                      <td>2018</td>
                      <td >2017</td>
                      <td>2016</td>
                    </tr>
                    <tr>
                        <td>2015</td>
                      <td>2014</td>
                      <td>2013</td>
                      <td>2012</td>
                        <td>2011</td>
                    </tr>
                  <tr>
                      <td>2010</td>
                      <td>2009</td>
                      <td>2008</td>
                      <td>2007</td>
                      <td><a href="{{ site.baseurl}}/literaryhtml/kafka/kafka2006.html">2006</a></td>
                  </tr>
                    <tr>
                        <td>2005</td>
                      <td>2004</td>
                      <td>2003</td>
                      <td class=>2002</td>
                      <td>2001</td>
                  </tr>

                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}