{% include header.html %}

<div class="container container-right">
    <div class="row">
        <div class="col-md-9">
            {{ content }}
        </div>
        <div class="col-md-3 ">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">年份</h3></div>
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                        <td >2020</td>
                      <td >2019</td>
                      <td>2018</td>
                      <td >2017</td>
                      <td>2016</td>
                    </tr>
                    <tr>
                        <td>2015</td>
                      <td>2014</td>
                      <td>2013</td>
                      <td>2012</td>
                        <td>2011</td>
                    </tr>
                  <tr>
                      <td>2010</td>
                      <td>2009</td>
                      <td>2008</td>
                      <td>2007</td>
                      <td>2006</td>
                  </tr>
                    <tr>
                        <td >2005</td>
                      <td>2004</td>
                      <td>2003</td>
                      <td >2002</td>
                      <td>2001</td>
                  </tr>
                    <tr>
                        <td >2000</td>
                      <td>1999</td>
                      <td>1998</td>
                      <td >1997</td>
                      <td>1996</td>
                  </tr>
                    <tr>
                        <td >1995</td>
                      <td>1994</td>
                      <td>1993</td>
                      <td >1992</td>
                      <td>1991</td>
                  </tr>
                    <tr>
                        <td >1990</td>
                      <td>1989</td>
                      <td>1988</td>
                      <td >1987</td>
                      <td>1986</td>
                  </tr>
                    <tr>
                        <td >1985</td>
                      <td>1984</td>
                      <td>1983</td>
                      <td >1982</td>
                      <td>1981</td>
                  </tr>
                    <tr>
                        <td >1980</td>
                      <td>1979</td>
                      <td>1978</td>
                      <td >1977</td>
                      <td>1976</td>
                  </tr>
                    <tr>
                        <td >1975</td>
                      <td>1974</td>
                      <td>1973</td>
                      <td >1972</td>
                      <td>1971</td>
                  </tr>
                    <tr>
                        <td >1970</td>
                      <td>1969</td>
                      <td></td>
                      <td ></td>
                      <td></td>
                  </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}