{% include header.html %}

<div class="container container-right">
    <div class="row">

        <div class="col-md-9">
            {{ content }}
        </div>
<!--         hidden-xs-->
        <div class="col-md-3 ">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">年份</h3></div>
                <table class="table table-condensed">
<!--                  <caption>年份</caption>-->
                  <tbody>
                  <tr>
                      <td></td>
                        <td></td>
                        <td></td>
                      <td></td>
                        <td><a href="{{ site.baseurl}}/literaryhtml/nobel/nobel2020.html">2020</a></td>
                    </tr>
                    <tr>
                        <td >2019</td>
                      <td >2018</td>
                      <td >2017</td>
                      <td >2016</td>
                      <td>2015</td>
                    </tr>
                    <tr>
                        <td>2014</td>
                      <td>2013</td>
                      <td>2012</td>
                      <td>2011</td>
                        <td>2010</td>
                    </tr>
                  <tr>
                      <td>2009</td>
                      <td>2008</td>
                      <td>2007</td>
                      <td>2006</td>
                      <td>2005</td>
                  </tr>
                    <tr>
                        <td >2004</td>
                      <td>2003</td>
                      <td>2002</td>
                      <td >2001</td>
                        <td><a href="{{ site.baseurl}}/literaryhtml/nobel/nobel2000.html">2000</a></td>
                  </tr>

                  </tbody>
                </table>
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                        <td>1990-1999</td>
                        <td>1980-1989</td>
                    </tr>
                    <tr>
                        <td>1970-1979</td>
                        <td>1960-1969</td>
                    </tr>
                    <tr>
                        <td>1950-1959</td>
                        <td>1940-1949</td>
                    </tr>
                    <tr>
                        <td>1930-1939</td>
                        <td>1920-1929</td>
                    </tr>
                    <tr>
                        <td>1910-1919</td>
                        <td>1901-1909</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}