{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="myblock">
<!--                <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.date | date: "%b %-d, %Y" }} - {{ page.title }}</a></h1>-->
            <h1 style="text-align: center">{{ page.title }}</h1>
                <p style="text-align: center; color: #888888">{{ page.date | date: "%Y年%m月%d日" }}</p>
                {% if site.comments and page.comments %}
                {% if site.disqus != '' %}
<!--                <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p>-->
                {% elsif site.isso != '' %}
                <p class="author"><a href="{{ site.baseurl }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p>
                {% endif %}
            {% endif %}
            <div class="post-content">
            {{ content }}
            </div>
            {% if page.comments %}
                {% if site.disqus != '' %}
            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                this.page.url = {{  page.url | absolute_url}};  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = {{  page.url | absolute_url}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://httpsjianzhang96githubio.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {% elsif site.isso != '' %}
                <section id="isso-thread"></section>
                {% endif %}
                <div id="container"></div>
                    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
                    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
                    <script>
                    var gitment = new Gitment({
                      id: '页面 ID', // 可选。默认为 location.href
                      owner: 'jianzhang96',
                      repo: 'jianzhang96.github.io',
                      oauth: {
                        client_id: '33acd68a51efbc645117',
                        client_secret: 'e244078078d2e57f0ea7120ddd000d19b6dace8a',
                      },
                    })
                    gitment.render('container')
                    </script>
            {% endif %}
            </div>
          </div>
          <div class="pagination">
              {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">上一篇</a>
              {% endif %}
              {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">下一篇</a>
              {% endif %}
          </div>
        </div>
    </div>
</div>

{% include disqus-comments.html %}
{% include footer.html %}
